<div>
  <div>
    <h1>
      Conversations
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <table class="styled-table">
      <tr>

        <th>
          Location
        </th>

        <th>
          Sender
        </th>

        <th>
          New messages
        </th>
      </tr>
      
      <%if @list_of_threads != nil %>

      <% @list_of_threads.each do |a_thread| %>
      
      <% dup = @list_of_messages.where({ :acquisition_id => a_thread.fetch(0)}).where({ :sender_id => a_thread.fetch(2)}).where({ :recipient_id => session.fetch(:user_id)}).length%>
      
      <% if dup > 0 && a_thread.fetch(1) == session.fetch(:user_id) %>

      <%else%>

      <tr>
        
        <td>
          <%= @list_of_acquisition_criteria.where({ :id => a_thread.fetch(0)}).at(0).location[0,10] + "." %>
        </td>

        <% if a_thread.fetch(1) == session.fetch(:user_id)%>
          <%senderuser = a_thread.fetch(2)%>
        <%else%>
          <%senderuser = a_thread.fetch(1)%>
        <%end%>

        <td>
          <%= @list_of_users.where({ :id => senderuser}).at(0).name[0,20] %>
        </td>

        <td>
        <% newmsgs = @list_of_messages.where({ :acquisition_id => a_thread.fetch(0)}).where({ :sender_id => senderuser}).where({ :read => false}).length %>

          <%if newmsgs > 0 %>
          
          <a href="/messages/<%= a_thread.fetch(0) %>/<%= senderuser %>" class="btn btn-success">
            <%= newmsgs%>  new messages
          </a>

          <%else%>

          <a href="/messages/<%= a_thread.fetch(0) %>/<%= senderuser %>" class="btn btn-danger">
            <%= newmsgs%>  new messages
          </a>
          
          <%end%>

        </td>

      </tr>

      <%end %>
      
      <% end %>
      <% end %>

    </table>
  </div>
</div>

<hr>
