<div>
  <div>
    <h1>
      Chat
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new message
    </h2>

    <form action="/insert_message/<%=params.fetch("criteria_id")%>/<%=params.fetch("sender_id")%>" method="post">

      <div>
        <input id="acquisition_id" name="a_id" value= <%=params.fetch("criteria_id")%> type="hidden" ></input>
      </div>

      <div>
        <input id="recipient_id" name="rec_id" value= <%=params.fetch("sender_id")%> type="hidden" ></input>
      </div>

      <div>
        <label for="content_box">
          Message
        </label>

        <textarea id="content_box" name="query_content" rows="3"></textarea>
      </div>

      <button class = "button3">
        Send message
      </button>

    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table class="styled-table">
      <tr>
        <th>
          Sender
        </th>

        <th>
          Message
        </th>

        <th>
          Sent
        </th>

      </tr>
      
      
      <% @list_of_messages.each do |a_message| %>
      <tr>

        <td>
          <%= a_message.sender.name %>
        </td>

        <td>
          <%= a_message.content %>
        </td>

        <td>
          <%= time_ago_in_words(a_message.created_at) %> ago
        </td>
        
        <%the_message = Message.where({ :id => a_message.id }).at(0)%>

        <% if the_message.recipient.id == session.fetch(:user_id) %>
        <%the_message.read = true%>
        <%the_message.save%>
        <%end%>

      </tr>
      <% end %>
      
      
    </table>
  </div>
</div>

<hr>
