<div>
  <div>
    <h1>
      List of acquisition criteria
    </h1>
  </div>
</div>

<hr>
<%=@testparam%>
<% if session.fetch(:user_id) != nil %>

<div>
  <div>
    

    <form action="/insert_acquisition_criterium" method="post">

      <div  class="row">

      <div class="col">
        <label for="period_end_date_box">
          
        </label>

        <input class="form-control" placeholder="Period end date" type="text" onfocus="(this.type='date')" id="period_end_date_box" name="query_period_end_date">
      </div>

      <div class="col">
        <label for="cap_rate_min_box">
          
        </label>

        <input class="form-control" placeholder="Cap rate min" type="text" id="cap_rate_min_box" name="query_cap_rate_min">
      </div>
      
      </div>
      
      <div  class="row">

      <div class="col">
        <label for="product_type_box">
          
        </label>

        <input class="form-control" placeholder="Product type" type="text" id="product_type_box" name="query_product_type">
      </div>

      <div class="col">
        <label for="cap_rate_max_box">
          
        </label>

        <input class="form-control" placeholder="Cap rate max" type="text" id="cap_rate_max_box" name="query_cap_rate_max">
      </div>

      </div>

      <div  class="row">

      <div class="col">
        <label for="location_box">
          
        </label>

        <input class="form-control" placeholder="Location" type="text" id="location_box" name="query_location">
      </div>

      <div class="col">
        <label for="property_sub_type_box">
          
        </label>

        <input class="form-control" placeholder="Property sub type" type="text" id="property_sub_type_box" name="query_property_sub_type">
      </div>
      
      </div>

      <div  class="row">

      <div class="col">
        <label for="trade_size_box">
          
        </label>

        <input class="form-control" placeholder="Trade size" type="text" id="trade_size_box" name="query_trade_size">
      </div>

      <div class="col">
        <label for="occupancy_box">
          
        </label>

        <input class="form-control" placeholder="Occupancy" type="text" id="occupancy_box" name="query_occupancy">
      </div>
      
      </div>

      <div  class="row">

      <div class="col">
        <label for="notes_box">
          
        </label>

        <textarea class="form-control" placeholder="Notes" id="notes_box" name="query_notes" rows="3"></textarea>
      </div>

      <div class="col">
        <label for="return_profile_box">
          
        </label>

        <input class="form-control" placeholder="Return profile" type="text" id="return_profile_box" name="query_return_profile">
      </div>
      </div>

      <div  class="row">

      <div class="col">
        <label for="sq_feet_box">
          
        </label>

        <input class="form-control" placeholder="Sq feet" type="text" id="sq_feet_box" name="query_sq_feet">
      </div>
      
      <div class="col">
        <label for="preferred_tenant_box">
          
        </label>

        <input class="form-control" placeholder="Preferred tenant" type="text" id="preferred_tenant_box" name="query_preferred_tenant">
      </div>

      
      </div>

      <button class="btn btn-primary" >
        Create acquisition criteria
      </button>
    </form>

  </div>
</div>

<hr>

<% end %>

<div align="right">

<div class="btn-group" role="group" aria-label="Basic example">
  <a type="button" class="btn btn-secondary" href="/filter"><i class="fas fa-sort-amount-down"></i>  <i class="fas fa-filter"></i></a>
</div>

</div>

<div>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>
          
        </th>
        
        <th>
          Product Type
        </th>

        <th>
          Loc.
        </th>

        <th>
          Trade Size ($MM)
        </th>

        <th>
          Views
        </th>

        <th>
          Posted
        </th>

        

      </tr>

      <% @list_of_acquisition_criteria.each do |a_criteria| %>
      <tr>
        <td>
          <a href="/acquisition_criteria/<%= a_criteria.id %>" class="btn btn-success">
            <i class="far fa-eye"></i>
          </a>
        </td>

        <td>
          <%= a_criteria.product_type %>
        </td>

        <td>
          <%=a_criteria.location[0,10] + "."%>
        </td>

        <td>
          <%= number_to_currency((a_criteria.trade_size.to_f/1000000).round(2)).to_s[0,6] %> 
        </td>

        <td>
          <%= a_criteria.views.length.to_s[0,5] %>
        </td>

        <td>
          <%= time_ago_in_words(a_criteria.created_at) %>
        </td>

        

      </tr>
      <% end %>

    </table>
  </div>
</div>

<hr>
