<div>
  <div>
    <h1>
      Acquisition criterium #<%= @the_acquisition_criterium.id %> details
    </h1>

    <div>
      <div>
        <a href="/acquisition_criteria">
          Go back
        </a>
      </div>

      <% if session.fetch(:user_id) == @the_acquisition_criterium.user.id %>
      <div>
        <a href="/delete_acquisition_criterium/<%= @the_acquisition_criterium.id %>">
          Delete acquisition criterium
        </a>
      </div>

      <%end%>

    </div>

    <dl>
      <dt>
        Period end date
      </dt>
      <dd>
        <%= @the_acquisition_criterium.period_end_date %>
      </dd>

      <dt>
        Product type
      </dt>
      <dd>
        <%= @the_acquisition_criterium.product_type %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= @the_acquisition_criterium.location %>
      </dd>

      <dt>
        Trade size
      </dt>
      <dd>
        <%= @the_acquisition_criterium.trade_size %>
      </dd>

      <dt>
        User name
      </dt>
      <dd>
        <%= @the_acquisition_criterium.user.name %>
      </dd>

      <dt>
        Notes
      </dt>
      <dd>
        <%= @the_acquisition_criterium.notes %>
      </dd>

      <dt>
        Cap rate min
      </dt>
      <dd>
        <%= @the_acquisition_criterium.cap_rate_min %>
      </dd>

      <dt>
        Cap rate max
      </dt>
      <dd>
        <%= @the_acquisition_criterium.cap_rate_max %>
      </dd>

      <dt>
        Property sub type
      </dt>
      <dd>
        <%= @the_acquisition_criterium.property_sub_type %>
      </dd>

      <dt>
        Occupancy
      </dt>
      <dd>
        <%= @the_acquisition_criterium.occupancy %>
      </dd>

      <dt>
        Return profile
      </dt>
      <dd>
        <%= @the_acquisition_criterium.return_profile %>
      </dd>

      <dt>
        Preferred tenant
      </dt>
      <dd>
        <%= @the_acquisition_criterium.preferred_tenant %>
      </dd>

      <dt>
        Sq feet
      </dt>
      <dd>
        <%= @the_acquisition_criterium.sq_feet %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_acquisition_criterium.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_acquisition_criterium.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit acquisition criterium
    </h2>

    <form action="/modify_acquisition_criterium/<%= @the_acquisition_criterium.id %>"  method="post" >
      <div>
        <label for="period_end_date_box">
          Period end date
        </label>

        <input type="datetime-local" id="period_end_date_box" name="query_period_end_date"
         value="<%= @the_acquisition_criterium.period_end_date %>">
      </div>

      <div>
        <label for="product_type_box">
          Product type
        </label>

        <input type="text" id="product_type_box" name="query_product_type" value="<%= @the_acquisition_criterium.product_type %>">
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location" value="<%= @the_acquisition_criterium.location %>">
      </div>

      <div>
        <label for="trade_size_box">
          Trade size
        </label>

        <input type="text" id="trade_size_box" name="query_trade_size" value="<%= @the_acquisition_criterium.trade_size %>">
      </div>

      <div>
        <label for="id_user_box">
          Id user
        </label>

        <input type="text" id="id_user_box" name="query_id_user" value="<%= @the_acquisition_criterium.id_user %>">
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <textarea id="notes_box" name="query_notes"><%= @the_acquisition_criterium.notes %></textarea>
      </div>

      <div>
        <label for="cap_rate_min_box">
          Cap rate min
        </label>

        <input type="text" id="cap_rate_min_box" name="query_cap_rate_min" value="<%= @the_acquisition_criterium.cap_rate_min %>">
      </div>

      <div>
        <label for="cap_rate_max_box">
          Cap rate max
        </label>

        <input type="text" id="cap_rate_max_box" name="query_cap_rate_max" value="<%= @the_acquisition_criterium.cap_rate_max %>">
      </div>

      <div>
        <label for="property_sub_type_box">
          Property sub type
        </label>

        <input type="text" id="property_sub_type_box" name="query_property_sub_type" value="<%= @the_acquisition_criterium.property_sub_type %>">
      </div>

      <div>
        <label for="occupancy_box">
          Occupancy
        </label>

        <input type="text" id="occupancy_box" name="query_occupancy" value="<%= @the_acquisition_criterium.occupancy %>">
      </div>

      <div>
        <label for="return_profile_box">
          Return profile
        </label>

        <input type="text" id="return_profile_box" name="query_return_profile" value="<%= @the_acquisition_criterium.return_profile %>">
      </div>

      <div>
        <label for="preferred_tenant_box">
          Preferred tenant
        </label>

        <input type="text" id="preferred_tenant_box" name="query_preferred_tenant" value="<%= @the_acquisition_criterium.preferred_tenant %>">
      </div>

      <div>
        <label for="sq_feet_box">
          Sq feet
        </label>

        <input type="text" id="sq_feet_box" name="query_sq_feet" value="<%= @the_acquisition_criterium.sq_feet %>">
      </div>

      <button>
        Update acquisition criterium
      </button>
    </form>
  </div>
</div>

<hr>
