<div>
  <div>
    <h1>
      Acquisition criteria details
    </h1>

    <div>

      <% if session.fetch(:user_id) == @the_acquisition_criterium.user.id %>
      <div>
        <a href="/delete_acquisition_criterium/<%= @the_acquisition_criterium.id %>" class="button2" >
          Delete acquisition criterium
        </a>
      </div>

      <%end%>

      <% if session.fetch(:user_id) != nil %>

      <% if session.fetch(:user_id) != @the_acquisition_criterium.user.id %>

      <% if @list_of_messages.length > 0 %>

      <div>
          You are already connected! Check your messages.
      </div>

      <%else%>
      <div>
        <a class="button3" href="/connect/<%= @the_acquisition_criterium.id %>">
          Connect
        </a>
      </div>
      <%end%>

      <%end%>

      <%end%>

    </div>
    
    <div>
    <div>
    <table class="styled-table">
      <tr>

    <tr>
      <th>
        Period end date
      </th>

      <th>
        Product type
      </th>

      <th>
        Location
      </th>

      <th>
        Trade size
      </th>
      
      <th>
        User name
      </th>

      <th>
        Notes
      </th>
      
      <th>
        Cap rate min
      </th>

      <th>
        Cap rate max
      </th>

      <th>
        Property sub type
      </th>

      <th>
        Occupancy
      </th>
      
      <th>
        Return profile
      </th>
      
      <th>
        Preferred tenant
      </th>

      <th>
        Sq feet
      </th>

      <th>
        Created at
      </th>

      <th>
        Updated at
      </th>

      </tr>

      <tr>
      <td>
        <%= @the_acquisition_criterium.period_end_date %>
      </td>

      
      <td>
        <%= @the_acquisition_criterium.product_type %>
      </td>

      
      <td>
        <%= @the_acquisition_criterium.location %>
      </td>

      
      <td>
        <%= @the_acquisition_criterium.trade_size %>
      </td>

      
      <td>
        <%= @the_acquisition_criterium.user.name %>
      </td>

      
      <td>
        <%= @the_acquisition_criterium.notes %>
      </td>

      
      <td>
        <%= @the_acquisition_criterium.cap_rate_min %>
      </td>

      
      <td>
        <%= @the_acquisition_criterium.cap_rate_max %>
      </td>

      
      <td>
        <%= @the_acquisition_criterium.property_sub_type %>
      </td>

      
      <td>
        <%= @the_acquisition_criterium.occupancy %>
      </td>

      
      <td>
        <%= @the_acquisition_criterium.return_profile %>
      </td>

      
      <td>
        <%= @the_acquisition_criterium.preferred_tenant %>
      </td>

      
      <td>
        <%= @the_acquisition_criterium.sq_feet %>
      </td>

      
      <td>
        <%= time_ago_in_words(@the_acquisition_criterium.created_at) %> ago
      </td>

      <td>
        <%= time_ago_in_words(@the_acquisition_criterium.updated_at) %> ago
      </td>

      </tr>

      </table>
  </div>
</div>

  </div>
</div>

<% if session.fetch(:user_id) == @the_acquisition_criterium.user.id %>

<hr>


<div>
  <div>
    <h2>
      Edit acquisition criterium
    </h2>

    <form action="/modify_acquisition_criterium/<%= @the_acquisition_criterium.id %>"  method="post" >
      <div>
        <label for="period_end_date_box">
          Period end date
        </label>

        <input type="datetime-local" id="period_end_date_box" name="query_period_end_date"
         value="<%= @the_acquisition_criterium.period_end_date %>">
      </div>

      <div>
        <label for="product_type_box">
          Product type
        </label>

        <input type="text" id="product_type_box" name="query_product_type" value="<%= @the_acquisition_criterium.product_type %>">
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location" value="<%= @the_acquisition_criterium.location %>">
      </div>

      <div>
        <label for="trade_size_box">
          Trade size
        </label>

        <input type="text" id="trade_size_box" name="query_trade_size" value="<%= @the_acquisition_criterium.trade_size %>">
      </div>

      <div>
        <label for="id_user_box">
          Id user
        </label>

        <input type="text" id="id_user_box" name="query_id_user" value="<%= @the_acquisition_criterium.id_user %>">
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <textarea id="notes_box" name="query_notes"><%= @the_acquisition_criterium.notes %></textarea>
      </div>

      <div>
        <label for="cap_rate_min_box">
          Cap rate min
        </label>

        <input type="text" id="cap_rate_min_box" name="query_cap_rate_min" value="<%= @the_acquisition_criterium.cap_rate_min %>">
      </div>

      <div>
        <label for="cap_rate_max_box">
          Cap rate max
        </label>

        <input type="text" id="cap_rate_max_box" name="query_cap_rate_max" value="<%= @the_acquisition_criterium.cap_rate_max %>">
      </div>

      <div>
        <label for="property_sub_type_box">
          Property sub type
        </label>

        <input type="text" id="property_sub_type_box" name="query_property_sub_type" value="<%= @the_acquisition_criterium.property_sub_type %>">
      </div>

      <div>
        <label for="occupancy_box">
          Occupancy
        </label>

        <input type="text" id="occupancy_box" name="query_occupancy" value="<%= @the_acquisition_criterium.occupancy %>">
      </div>

      <div>
        <label for="return_profile_box">
          Return profile
        </label>

        <input type="text" id="return_profile_box" name="query_return_profile" value="<%= @the_acquisition_criterium.return_profile %>">
      </div>

      <div>
        <label for="preferred_tenant_box">
          Preferred tenant
        </label>

        <input type="text" id="preferred_tenant_box" name="query_preferred_tenant" value="<%= @the_acquisition_criterium.preferred_tenant %>">
      </div>

      <div>
        <label for="sq_feet_box">
          Sq feet
        </label>

        <input type="text" id="sq_feet_box" name="query_sq_feet" value="<%= @the_acquisition_criterium.sq_feet %>">
      </div>

      <button class="button2" >
        Update acquisition criterium
      </button>
    </form>
  </div>
</div>
<% end %>

<hr>
