<div>
  <div>
    <h1>
      Acquisition criteria details
    </h1>

    <div>

      <% if session.fetch(:user_id) == @the_acquisition_criterium.user.id %>
      <div>
        <a href="/delete_acquisition_criterium/<%= @the_acquisition_criterium.id %>" class="btn btn-danger" >
          Delete acquisition criterium
        </a>
      </div>

      <%end%>

      <% if session.fetch(:user_id) != nil %>

      <% if session.fetch(:user_id) != @the_acquisition_criterium.user.id %>

      <% if @list_of_messages.length > 0 %>

      <div class = "alert-success">
          You are already connected with this user! Check your messages.
      </div>

      <%else%>
      <div>
        <a class="btn btn-success" href="/connect/<%= @the_acquisition_criterium.id %>">
          Connect
        </a>
      </div>
      <%end%>

      <%end%>

      <%end%>

    </div>




    <div class="container">

    <div class = "row border">

      <div class="col-sm" >
        Period end date:
      </div>
<div class="col-sm">
        <%= @the_acquisition_criterium.period_end_date.strftime("%m/%d/%Y") %>
      </div>
    </div>
    <div class= "row border">
      <div class="col-sm">
        Product type:
      </div>
<div class="col-sm">
        <%= @the_acquisition_criterium.product_type %>
      </div>
    </div>
    <div class= "row border">
      <div class="col-sm">
        Location:
      </div>
      <div class="col-sm">
        <%= @the_acquisition_criterium.location %>
      </div>
    </div>
    <div class= "row border">
      <div class="col-sm">
        Trade size:
      </div>
      <div class="col-sm">
        <%= number_to_currency(@the_acquisition_criterium.trade_size) %>
      </div>
    </div>
    <div class= "row border">
      <div class="col-sm">
        User name:
      </div>
<div class="col-sm">
        <%= @the_acquisition_criterium.user.name %>
      </div>
    </div>
    <div class= "row border">
      <div class="col-sm">
        Notes:
      </div>
    <div class="col-sm">
        <%= @the_acquisition_criterium.notes %>
      </div>
    </div>
    <div class= "row border">
      <div class="col-sm">
        Cap rate min:
      </div>
<div class="col-sm">
        <%= number_to_currency(@the_acquisition_criterium.cap_rate_min) %>
      </div>
    </div>
    <div class= "row border">
      <div class="col-sm">
        Cap rate max:
      </div>
<div class="col-sm">
        <%= number_to_currency(@the_acquisition_criterium.cap_rate_max) %>
      </div>

    </div>
    <div class= "row border">
      <div class="col-sm">
        Property sub type:
      </div>
    <div class="col-sm">
        <%= @the_acquisition_criterium.property_sub_type %>
      </div>
    </div>
    <div class= "row border">
      <div class="col-sm">
        Occupancy:
      </div>
      <div class="col-sm">
        <%= @the_acquisition_criterium.occupancy %>
      </div>
    </div>
    <div class= "row border">
      <div class="col-sm">
        Return profile:
      </div>
    <div class="col-sm">
        <%= @the_acquisition_criterium.return_profile %>
      </div>
    </div>
    <div class= "row border">
      <div class="col-sm">
        Preferred tenant:
      </div>
<div class="col-sm">
        <%= @the_acquisition_criterium.preferred_tenant %>
      </div>
    </div>
    <div class= "row border">
      <div class="col-sm">
        Sq feet:
      </div>
<div class="col-sm">
        <%= @the_acquisition_criterium.sq_feet %>
      </div>
    </div>
    <div class= "row border">
      <div class="col-sm">
        Created at:
      </div>
    <div class="col-sm">
        <%= time_ago_in_words(@the_acquisition_criterium.created_at) %> ago
      </div>
    </div>

    <div class= "row border">
      <div class="col-sm">
        Updated at:
      </div>
    <div class="col-sm">
        <%= time_ago_in_words(@the_acquisition_criterium.updated_at) %> ago
      </div>
    </div>
      

  </div>


<% if session.fetch(:user_id) == @the_acquisition_criterium.user.id %>

<hr>


<div>
  <div>
    <h2>
      Edit acquisition criteria
    </h2>

    <form action="/modify_acquisition_criterium/<%= @the_acquisition_criterium.id %>"  method="post" >

      <div  class="row">

      <div class="col">
        <label for="period_end_date_box">
          
        </label>

        <input class="form-control" placeholder="Period end date" type="datetime-local" id="period_end_date_box" name="query_period_end_date" value="<%= @the_acquisition_criterium.period_end_date %>">
      </div>

      <div class="col">
        <label for="cap_rate_min_box">
          
        </label>

        <input class="form-control" placeholder="Cap rate min" type="text" id="cap_rate_min_box" name="query_cap_rate_min" value="<%= @the_acquisition_criterium.cap_rate_min %>">
      </div>
      
      </div>
      
      <div  class="row">

      <div class="col">
        <label for="product_type_box">
          
        </label>

        <input class="form-control" placeholder="Product type" type="text" id="product_type_box" name="query_product_type" value="<%= @the_acquisition_criterium.product_type %>">
      </div>

      <div class="col">
        <label for="cap_rate_max_box">
          
        </label>

        <input class="form-control" placeholder="Cap rate max" type="text" id="cap_rate_max_box" name="query_cap_rate_max" value="<%= @the_acquisition_criterium.cap_rate_max %>">
      </div>

      </div>

      <div  class="row">

      <div class="col">
        <label for="location_box">
          
        </label>

        <input class="form-control" placeholder="Location" type="text" id="location_box" name="query_location" value="<%= @the_acquisition_criterium.location %>">
      </div>

      <div class="col">
        <label for="property_sub_type_box">
          
        </label>

        <input class="form-control" placeholder="Property sub type" type="text" id="property_sub_type_box" name="query_property_sub_type" value="<%= @the_acquisition_criterium.property_sub_type %>">
      </div>
      
      </div>

      <div  class="row">

      <div class="col">
        <label for="trade_size_box">
          
        </label>

        <input class="form-control" placeholder="Trade size" type="text" id="trade_size_box" name="query_trade_size" value="<%= @the_acquisition_criterium.trade_size %>">
      </div>

      <div class="col">
        <label for="occupancy_box">
          
        </label>

        <input class="form-control" placeholder="Occupancy" type="text" id="occupancy_box" name="query_occupancy" value="<%= @the_acquisition_criterium.occupancy %>">
      </div>
      
      </div>

      <div  class="row">

      <div class="col">
        <label for="notes_box">
          
        </label>

        <textarea class="form-control" placeholder="Notes" id="notes_box" name="query_notes" rows="3"><%= @the_acquisition_criterium.notes %></textarea>
      </div>

      <div class="col">
        <label for="return_profile_box">
          
        </label>

        <input class="form-control" placeholder="Return profile" type="text" id="return_profile_box" name="query_return_profile" value="<%= @the_acquisition_criterium.return_profile %>">
      </div>
      </div>

      <div  class="row">

      <div class="col">
        <label for="sq_feet_box">
          
        </label>

        <input class="form-control" placeholder="Sq feet" type="text" id="sq_feet_box" name="query_sq_feet" value="<%= @the_acquisition_criterium.sq_feet %>">
      </div>
      
      <div class="col">
        <label for="preferred_tenant_box">
          
        </label>

        <input class="form-control" placeholder="Preferred tenant" type="text" id="preferred_tenant_box" name="query_preferred_tenant" value="<%= @the_acquisition_criterium.preferred_tenant %>">
      </div>

      
      </div>

      <button class="btn btn-primary" >
        Update acquisition criteria
      </button>
    </form>


  </div>
</div>
<% end %>

<hr>
