<div >

  <% if session.fetch(:user_id) != nil %>

  <h5>
    Edit User Account
  </h5>
  <hr>
  <div>
    <form action="/modify_user" method="post">
      <div>
        <label for="email_box">Email</label>
        <input id="email_box" name="query_email" value="<%= @current_user.email %>">
      </div>
      <div>
        <label for="name_box">Name</label>
        <input id="name_box" name="query_name" value="<%= @current_user.name %>">
      </div>
      <div>
        <label for="company_name_box">Company name</label>
        <input id="company_name_box" name="query_company_name" value="<%= @current_user.company_name %>">
      </div>
      <div>
        <label for="phone_number_box">Phone number</label>
        <input id="phone_number_box" name="query_phone_number" value="<%= @current_user.phone_number %>">
      </div>
      <div>
        <label for="role_box">Role</label>
        <input id="role_box" name="query_role" value="<%= @current_user.role %>">
      </div>

      <div>
        <label for="password_box">Password</label>
        <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
      </div>
    
      <div>
        <label for="password_confirmation_box">Password Confirmation</label>
        <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
      </div>

      <button class="button2" >
        Update account
      </button>
    </form>
  </div>
  <hr>
  <h5>
    My posts
  </h5>
  
  <div>
  <div>
    <table class="styled-table">
      <tr>

        <th>
          Product Type
        </th>

        <th>
          Location
        </th>

        <th>
          Trade Size
        </th>

        <th>
          Occupancy
        </th>

        <th>
          Sq. Feet
        </th>

        <th>
          Views
        </th>

        <th>
          Posted
        </th>

        <th>
          
        </th>

      </tr>

      <% @list_of_acquisition_criteria.each do |a_criteria| %>
      <tr>
        <td>
          <%= a_criteria.product_type %>
        </td>

        <td>
          <%= a_criteria.location %>
        </td>

        <td>
          <%= a_criteria.trade_size %>
        </td>

        <td>
          <%= a_criteria.occupancy %>
        </td>

        <td>
          <%= a_criteria.sq_feet %>
        </td>

        <td>
          <%= a_criteria.views.length %>
        </td>

        <td>
          <%= time_ago_in_words(a_criteria.created_at) %>
        </td>

        <td>
          <a href="/acquisition_criteria/<%= a_criteria.id %>" class="button3" padding="5px">
            View
          </a>
        </td>

      </tr>
      <% end %>

    </table>
  </div>
</div>


  <%else%>

    <h5>
      You must be signed in to access this page
    </h5>

  <%end%>

</div>
