<div >

  <% if session.fetch(:user_id) != nil %>

  <h5>
    Edit User Account
  </h5>
  <hr>
  <div>
    <form action="/modify_user" method="post">

  <div class="row">
  <div class="col">
    <label for="email_box"></label>
    <input class="form-control" placeholder="Email" id="email_box" name="query_email" type="text" value="<%= @current_user.email %>">
  </div>

  <div class="col">
    <label for="name_box"></label>
      
    <input class="form-control" placeholder="Full name" type="text" id="name_box" name="query_name" value="<%= @current_user.name %>">
  </div>

  </div>

  <div class="row">
  <div class="col">
    <label for="password_box"></label>
    <input class="form-control" placeholder="Password" id="password_box" name="query_password" type="password">
  </div>

  <div class="col">
    <label for="company_name_box"></label>
      
    <input class="form-control" placeholder="Company name" type="text" id="company_name_box" name="query_company_name" value="<%= @current_user.company_name %>">
  </div>

  </div>

  <div class="row">
  <div class="col">
    <label for="password_confirmation_box"></label>
    <input class="form-control" placeholder="Confirm password" id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
  </div>
         
         
  <div class="col">
    <label for="phone_number_box"></label>
      
    <input class="form-control" placeholder="Phone number" type="text" id="phone_number_box" name="query_phone_number" value="<%= @current_user.phone_number %>">
  </div>

  </div>
  
  <div class="row">
  <div class="col">
  </div>
  <div class="col">
    <label for="role_box"></label>
      
    <input class="form-control" placeholder="Role" type="text" id="role_box" name="query_role" value="<%= @current_user.role %>">
  </div>
  
  </div>
  

  <button class="btn btn-primary">
    Update account
  </button>
</form>

  </div>
  <hr>
  <h5>
    My active posts
  </h5>
  
  <div>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>
          
        </th>
        
        <th>
          Product Type
        </th>

        <th>
          Loc.
        </th>

        <th>
          Trade Size ($MM)
        </th>

        <th>
          Views
        </th>

        <th>
          Posted
        </th>

        

      </tr>

      <% @list_of_acquisition_criteria.each do |a_criteria| %>
      <tr>
        <td>
          <a href="/acquisition_criteria/<%= a_criteria.id %>" class="btn btn-success">
            <i class="far fa-eye"></i>
          </a>
        </td>

        <td>
          <%= a_criteria.product_type %>
        </td>

        <td>
          <%=a_criteria.location[0,10] + "."%>
        </td>

        <td>
          <%= number_to_currency((a_criteria.trade_size.to_f/1000000).round(2)).to_s[0,6] %> 
        </td>

        <td>
          <%= a_criteria.views.length.to_s[0,5] %>
        </td>

        <td>
          <%= time_ago_in_words(a_criteria.created_at) %>
        </td>

        

      </tr>
      <% end %>

    </table>
  </div>
</div>


  <%else%>

    <h5>
      You must be signed in to access this page
    </h5>

  <%end%>

</div>
